alias mount_data="sshfs $stem_ip:/data/project/stemcell/shannc ~/Bio_SDD/too-predict/remote"
alias unmount_data="sudo umount -l ~/Bio_SDD/too-predict/remote"
alias venv="source ~/Bio_SDD/too-predict/.venv/bin/activate"

resetData() {
    sudo umount ~/Bio_SDD/too-predict/remote && sshfs $stem_ip:/data/project/stemcell/shannc ~/Bio_SDD/too-predict/remote
}
